#reset {	float: center;}
#main-div{padding: 5px; -moz-border-radius: 20px; border-radius: 20px; border-style: solid; border-color: rgb(11, 61, 145); margin-bottom: 25px;  background-color: rgb(51, 153, 255); background-color: rgba(51, 153, 255, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
#h1 { font-family:"Georgia", Georgia, serif; color: white; font-size: 28; margin-bottom:10px; margin-left: 0 auto; margin-right: 0 auto; text-align:center;}
#h2 { font-family:"Georgia", Georgia, serif; color: white; font-size: 18; margin-bottom: 25px; margin-left:25; margin-right:10px; }
#appleTVtable { margin-left: auto; margin-right: auto; }
#wiDiTable { margin-left: auto; margin-right: auto; }
.panicbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #007FFF;
	-webkit-box-shadow:inset 0px 1px 0px 0px #007FFF;
	box-shadow:inset 0px 1px 0px 0px #007FFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #104E8B), color-stop(1, #26466D) );
	background:-moz-linear-gradient( center top, #104E8B 5%, #26466D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#104E8B', endColorstr='#26466D');
	background-color:#104E8B;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #26466D;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:0.1em 0.1em;
	text-decoration:none;
	text-shadow:1px 1px 0px #26466D;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.4%;
	width: 23%;
}.panicbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26466D), color-stop(1, #104E8B) );
	background:-moz-linear-gradient( center top, #26466D 5%, #104E8B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26466D', endColorstr='#104E8B');
	background-color:#26466D;
}.panicbutton:active {
	position:relative;
	color:#0b3d91;
	top:-1px;
}