
.numpad-bkg     { background-repeat:no-repeat;  -moz-background-size:contain;  background-size:contain;  background-position:center }

#numpad-cntnr		{ margin:auto;  position:absolute;  display:none;
	background-image:url("img/npad.png");  background-color:rgb(  1,  36, 18);  background-color:rgba(  1,  14,  6, 0.70);
	-webkit-box-shadow: 2px 2px 4px 4px rgba(  1,  14,   6, .70); -moz-box-shadow: 2px 2px 4px 4px rgba(  1,  14,   6, .70); box-shadow: 2px 2px 4px 4px rgba(  1,  14,   6, .70); }
.numpad-cntnr-brdr	{ -moz-border-radius:8%;  border-radius:8%;  /*border:2px solid red;*/ }
#numpad-cntnr img.newln	{ clear:both; }
#numpad-cntnr img	{ float:left;  width:20.5%;  margin:6.5% 0 0 8.4%; }
.npad-btn-brdr		{ border:2px solid #000;  -moz-border-radius:8px;  border-radius:8px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(  0,   0,   0, .65); -moz-box-shadow: 0px 0px 1px 1px rgba(  0,   0,   0, .65); box-shadow: 0px 0px 1px 1px rgba(    0,   0,   0, .65); }
#numpad-cntnr img.btn-w	{ width:29%;  margin-left:13.5%; }
#numpad-cntnr img#npad-btn-x	{ float:right;  width:14%;  margin:2.0% 7.0% 0 0; }
/*#numpad-cntnr img#npad-btn-x	{ float:left;  width:14%;  margin:2.0% 7.0% 0 0; }*/
#npad-chnn		{ float:left;  /*width:45%;  height:10.5%;*/  margin:10.3% 0 0 8.1%;  background-image:url("img/npad-win.jpg");  text-align:right; }
#npad-channum-txt	{ font-size:160%;  position:relative;  top:14%;  right:12.0%;  color:#4d9a00; }


/*.numpad-effect-none	{ -webkit-box-shadow: 0px 0px 8px 5px rgba(  0, 204, 255, .75); -moz-box-shadow: 0px 0px 8px 5px rgba(  0, 204, 255, .75); box-shadow: 0px 0px 8px 5px rgba(  0, 204, 255, .75); }*/
.numpad-effect-none {  }

/* Green*/
.numpad-effect-hover	{ /*border:2px solid #0f0;*/  /*--moz-border-radius:4px;  border-radius:4px;*/
	-webkit-box-shadow: 0px 0px 2px 2px rgba( 35, 146,  35, .50);  -moz-box-shadow: 0px 0px 2px 2px rgba( 35, 146,  35, .50); box-shadow: 0px 0px 2px 2px rgba( 35, 146,  35, .50);
	background-color:rgb( 35, 146,  35);  background-color:rgba( 35, 146,  35, .50);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f239223, endColorstr=#7f239223); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f239223, endColorstr=#7f239223)"; }

.numpad-effect-click		{ -webkit-box-shadow: 0px 0px 8px 5px rgba( 95,  95,  95, .85); -moz-box-shadow: 0px 0px 8px 5px rgba( 95,  95,  95, .85); box-shadow: 0px 0px 8px 5px rgba( 95,  95,  95, .85); }

